unix/data/soap/src/ns.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Service"
 targetNamespace="http://tempuri.org/ns.xsd/Service.wsdl"
 xmlns:tns="http://tempuri.org/ns.xsd/Service.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="http://tempuri.org/ns.xsd"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="http://tempuri.org/ns.xsd"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="http://tempuri.org/ns.xsd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
 </schema>

</types>

<message name="addRequest">
 <part name="a" type="xsd:int"/><!-- ns__add::a -->
 <part name="b" type="xsd:int"/><!-- ns__add::b -->
</message>

<message name="addResponse">
 <part name="result" type="xsd:int"/><!-- ns__add::result -->
</message>

<message name="subtractRequest">
 <part name="a" type="xsd:int"/><!-- ns__subtract::a -->
 <part name="b" type="xsd:int"/><!-- ns__subtract::b -->
</message>

<message name="subtractResponse">
 <part name="result" type="xsd:int"/><!-- ns__subtract::result -->
</message>

<message name="multiplyRequest">
 <part name="a" type="xsd:int"/><!-- ns__multiply::a -->
 <part name="b" type="xsd:int"/><!-- ns__multiply::b -->
</message>

<message name="multiplyResponse">
 <part name="result" type="xsd:int"/><!-- ns__multiply::result -->
</message>

<message name="divideRequest">
 <part name="a" type="xsd:int"/><!-- ns__divide::a -->
 <part name="b" type="xsd:int"/><!-- ns__divide::b -->
</message>

<message name="divideResponse">
 <part name="result" type="xsd:int"/><!-- ns__divide::result -->
</message>

<portType name="ServicePortType">
 <operation name="add">
  <documentation>Service definition of function ns__add</documentation>
  <input message="tns:addRequest"/>
  <output message="tns:addResponse"/>
 </operation>
 <operation name="subtract">
  <documentation>Service definition of function ns__subtract</documentation>
  <input message="tns:subtractRequest"/>
  <output message="tns:subtractResponse"/>
 </operation>
 <operation name="multiply">
  <documentation>Service definition of function ns__multiply</documentation>
  <input message="tns:multiplyRequest"/>
  <output message="tns:multiplyResponse"/>
 </operation>
 <operation name="divide">
  <documentation>Service definition of function ns__divide</documentation>
  <input message="tns:divideRequest"/>
  <output message="tns:divideResponse"/>
 </operation>
</portType>

<binding name="Service" type="tns:ServicePortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="add">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://tempuri.org/ns.xsd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://tempuri.org/ns.xsd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="subtract">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://tempuri.org/ns.xsd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://tempuri.org/ns.xsd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="multiply">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://tempuri.org/ns.xsd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://tempuri.org/ns.xsd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="divide">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="http://tempuri.org/ns.xsd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="http://tempuri.org/ns.xsd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<service name="Service">
 <documentation>gSOAP 2.8.14 generated service definition</documentation>
 <port name="Service" binding="tns:Service">
  <SOAP:address location="http://localhost:80"/>
 </port>
</service>

</definitions>
